.nav-container{
    width: 98%;
    height: 60px;
    display: flex;
    margin-left: 1%;
    margin-top: .5%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    backdrop-filter: blur(4px);
    z-index: 0;
}
.nav-link{
    text-decoration: none;
    margin:0px 30px;
    transition: .5s;
}
.nav-link:hover{
    color: rgb(158, 157, 157);
}
.input-navbar{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.295);
    padding: 4px;
    width: 300px;
    text-align: center;

}